{% extends "home\base_bootstrap.html" %}

{% block content %}
  <h1>Cat List</h1>
  {% if cat_list %}
  <ul>
    {% for cat in cat_list %}
      <li>
          {{ cat.nickname }} ({{ cat.weight }})
          (<a href="{% url 'cats:cat_update' cat.id %}">Update</a> |
          
          {{ cat.foods }} ({{ cat.breed }} breeds)
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no cats in the library.</p>
  {% endif %}
  <p>
    {% if cat_count > 0 %}
      <a href="{% url 'cats:cat_create' %}">Add a cat</a>
    {% else %}
      Please add a make before you add a cat.
    {% endif %}
  </p>
  <p>
  <a href="{% url 'cats:all' %}">View cats</a> ({{ cat_count }}) | 
    <a href="{% url 'cats:cat_create' %}">Add a cat</a>
  </p>


  <h1>Breed List</h1>
  {% if breed_list %}
  <ul>
    {% for breed in breed_list %}
      <li>
          {{ breed.name }}
          (<a href="{% url 'cats:breed_update' breed.id %}">Update</a> |
          
                </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no breeds in the library.</p>
  {% endif %}
  <p>
    {% if breed_count == 0 %}
      <a href="{% url 'cats:breed_create' %}">Add a breed</a>
    {% else %}
      Please add a breed before you add a cat.
    {% endif %}
  </p>
  <p>
  <a href="{% url 'cats:all' %}">View breeds</a> ({{ breed_count }}) | 
    <a href="{% url 'cats:breed_create' %}">Add a breed</a>
  </p>
{% endblock %}
